@import "normalize";
@import "layout";

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');

@font-face {
	font-family: 'Aleo';
	src: local('Aleo'), local('Aleo'),
		url('../fonts/aleo-regular-webfont.woff2') format('woff2'),
		url('../fonts/aleo-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

$blue:#5474fd;
$dark-blue:#496bfe;

$gray-e8: #e8e8e8;
$gray-99: #999999;
$gray-33: #333333;

body {
	font: 400 16px/1.6 'Josefin Sans', sans-serif;
	color: $gray-e8;
	border: 15px solid white;
}

/* Layout */
.ba-container {
	padding-left: 45px;
	padding-right: 45px;
	max-width: 1200px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="submit"],
input[type="button"],
button,
.ba-button {
	display: inline-block;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover {}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {}

textarea {}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
	margin: 0;
	padding: 0;

}

.ba-search {
	background: #5474fd url(../img/main_img.jpg) no-repeat;
	background-size: cover;
	height: 100vh;
	color: white;
	padding-top: 266px;

	&-title-box {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;


		&__main-title {
			text-transform: uppercase;
			font-size: 48px;
			line-height: 1;
			min-width: 100%;
			text-align: center;
			letter-spacing: 0.06em;
		}

		&__sub-title {
			font-size: 22px;
			min-width: 100%;
			text-align: center;
			letter-spacing: 0.24em;
			margin-bottom: 42px;
		}
	}

	&__form {
		display: flex;
		justify-content: center;
		margin-left: -1px;
		padding-bottom: 117px;


		input {
			height: 60px;
			width: 500px;
			text-align: center;
			letter-spacing: 0.06em;
			color: $gray-99;

			&::-webkit-input-placeholder {
				color: $gray-99;
			}

			&::-moz-placeholder {
				color: $gray-99;
			}

			&:-ms-input-placeholder {
				color: $gray-99;
			}

		}

		button {
			font-family: Aleo;
			font-size: 14px;
			text-transform: uppercase;
			height: 60px;
			padding: 2px 0 0 35px;
			position: relative;
			text-align: left;
			width: 150px;
			border: 2px solid white;
			background-color: $blue;
			letter-spacing: 0.06em;

			transition: padding-left .3s ease-in, font-size .3s ease-in, background-color .3s ease-in;

			&:hover {
				padding-left: 15px;
				font-size: 18px;
				background-color: $dark-blue;
			}

			&:hover svg {
				width: 30px;
				height: 30px;
			}

			svg {
				position: absolute;
				right: 8%;
				top: 25%;
				width: 26px;
			}
		}
	}

	&__scroll {
		display: block;
		padding-bottom: 16px;
		text-align: center;
		position: relative;
		font-size: 14px;
		letter-spacing: 0.15em;
		padding-left: 3px;
		color: white;
		text-decoration: none;

		transition: font-size .3s ease-in;

		&:hover {
			font-size: 16px;
		}

		svg {
			position: absolute;
			bottom: 0;
			left: calc(50% - 9px);
		}
	}
}

.ba-header {
	background-color: $blue;
	text-transform: uppercase;
	padding: 21px 0;

	&-box {
		display: flex;
		justify-content: space-between;
		letter-spacing: 0.075em;
		margin-left: -2px;

		a {
			color: white;
			font-size: 24px;
			font-weight: 700;
			text-decoration: none;
		}
	}

	&__list {
		list-style-type: none;
		display: flex;
		justify-content: space-between;
		padding-top: 9px;

		li {
			a {
				font-family: Aleo;
				text-decoration: none;
				font-size: 14px;
				letter-spacing: -0.01em;

				&:hover {
					color: orange;
				}
			}
		}

		:nth-last-child(1) {
			padding-left: 22px;
		}

		:nth-last-child(2) {
			padding-left: 24px;
		}

		:nth-last-child(3) {
			padding-left: 21px;
		}
	}
}

.ba-why-choose-us {
	background: url(../img/why.jpg) no-repeat;
	padding-top: 120px;

	&-text {
		padding-top: 80px;
		padding-bottom: 42px;

		h3 {
			font-family: Aleo;
			font-size: 36px;
			line-height: 1;
			padding-bottom: 60px;
			color: white;
		}

		p {
			letter-spacing: 0.035em;
		}

		p+p {
			padding-top: 30px;
		}
	}
}

.ba-dual-button {
	display: inline-block;
	text-align: center;
	line-height: 60px;
	color: white;
	font-family: Aleo;
	text-decoration: none;
	text-transform: uppercase;
	min-width: 225px;
	position: relative;
	left: -1px;
	min-height: 60px;
	background-color: $blue;
	letter-spacing: 0.065em;
}

.ba-row-image1 {
	display: flex;
	padding-left: 64px;
	padding-bottom: 5px;
}

.ba-row-image2 {
	text-align: right;
	padding-right: 1px;
	padding-bottom: 110px;
}

.ba-ssb {
	background-color: $gray-33;
	padding-top: 95px;
	padding-bottom: 115px;

	&-row {
		display: flex;
		justify-content: center;


		&__cell+&__cell {
			padding-left: 170px;
		}

		&__cell {

			p {
				font-family: Aleo;
				font-size: 36px;
				line-height: 1;
			}
		}
	}
}

.ba-flex-svg {
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
}

.ba-spain1 {
	padding-top: 229px;
	padding-bottom: 100px;
	background: url(../img/spain1.jpg);
}

.ba-black-box {
	background-color: rgba(35, 35, 35, 0.9);
	padding: 43px 0 50px 30px;

	p {
		letter-spacing: -0.066em;
		line-height: 1.68;
		padding-bottom: 41px;
	}

	p:first-of-type {
		letter-spacing: normal;
		font-size: 20px;
		padding-bottom: 19px;
		line-height: 1.6;
	}

	p:nth-last-of-type(2) {
		text-transform: uppercase;
		font-size: 20px;
		color: white;
		letter-spacing: -0.05em;
		padding-bottom: 15px;
		line-height: 1.6;
	}
}

.ba-spain2 {
	padding-top: 229px;
	padding-bottom: 100px;
	background: url(../img/spain2.jpg);
}